.DbManagMain__right {
    width: 90%;
    margin-left: auto;
    height: 100%;
    text-align: center;
    
    .navInputs {
        display: flex;
        flex-direction: column;
        flex: 1;
        
    }

    .dataSelect {
        width: 100%;
        height: calc(100% - ((40px * 3) + 50px) );
        display: block;

        overflow: auto;
    }

    
}