.DbManagMain__right {
    width: 90%;
    margin-left: auto;
    // outline: 1px solid black;
    height: 100%;
    // background-color: red;
    text-align: center;
    // display: flex;

    // justify-content: center;

    .navInputs {
        display: flex;
        flex-direction: column;
        
        
    }
}