.TabWidgetPanel {
    width: calc(100% + 1px);
    min-height: 30px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    

    &::-webkit-scrollbar {
        height: 5px;
        
        
    }
    
    &::-webkit-scrollbar-track {
        background: none;
        
    }
    
    &::-webkit-scrollbar-thumb {
        
        background: #888;
        // border-radius: 10px;
        &:hover {
            background: #555;
        }
    }


    .tabWidget {
        &:nth-child(1) {
            border-left: 1px solid gray;
        }
        &:last-child {
            border-right: 1px solid gray;
        }

        font-size: 16px;
        width: fit-content;
        padding: 0 10px;
        text-align: center;
        line-height: 30px;
        border-right: 1px solid gray;
        user-select: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:not(.current) {
            background-color: rgb(236, 236, 236);

            &:hover {
                background-color: var(--light-gray);
            }
        }
        &:hover {
            .CrossIcon {
                opacity: 1;
            }
        }

        
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid gray;
        

        &.current {
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            border-top: 1px solid black;
            background-color: none;
        }

        .CrossIcon {
            opacity: 0;
            transition: .05s;
            margin-left: 10px;
            
            border-radius: 4px;
            background-color: none;
            &:hover {
                background-color: rgb(173, 173, 173);
            }
        }

        
        

    }
}