.DbManag__toolbar {
    // flex: 1;

    position: relative;
    border-bottom: 1px solid gray;
    min-height: 12.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    
}