
.FormInput {
    position: relative;
    height: fit-content;
    cursor: text;
    --FormInput__outline: 1px solid gray;

    &.dark {
        --FormInput_label__background-color_hover: black;
        --FormInput_input__outline_hover: 1px solid white;
        --FormInput_input__color: white;
    }
    &.white {
        --FormInput_label__background-color_hover: white;
        --FormInput_input__outline_hover: 1px solid black;
        --FormInput_input__color: black;
    }

    
    outline: --FormInput_input__outline;
    


    input {
        background: none;
        color: var(--FormInput_input__color);
        font-weight: 100;
        transition: .2s outline;
        
        &:hover {
            
            outline: var(--FormInput_input__outline_hover);

        }
    }
    
    label {
        pointer-events: none;
        user-select: none;
        
        cursor: text;
        top: 25%;
        font-size: 1.2em;
        padding: 0 5px;
        left: 5px;
        color: grey;
        position: absolute;
        transition: .2s top, .2s font-size;
        background: none;
        border-radius: 5px;
    }

    &.filled {
        label {
            top: -55%;
            // font-size: 1em;
            // background-color: var(--FormInput_label__background-color_hover);
        }
    }
    &.focused {
        input {
            outline: 1px solid #1a73e8;
        }
        label {
            color: #1a73e8;
            
        }
    }
    
}