

@keyframes bounceRotateAnimation {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
 
    50% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}

.LoadingBar {
    position: absolute;
    width: 9px;
    height: 9px;

    div {
        position: absolute;
        width: 50%;
        height: 150%;
        background: #474bff;
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        animation: bounceRotateAnimation 1s calc(var(--delay) * 1s) infinite ease;

        --translation: 150;

        @for $i from 1 through 10 {

            &:nth-child(#{$i}) {
                --delay: 0.1 * #{$i};
                --rotation: (36 + 36 * (#{$i} - 1));
            }
            
        }
    }

}
 
 
 
 
 
 