.btn{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: black;
    background-color: white;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 900;
    transition: all 0.4s ease-out;
   
    &:hover{
        border: 3px solid white;
        background-color: black;
        color: white;
        transition: all 0.4s;
    }
}