.DbManagSettings {
    --startPadding: 20px;

    width: calc(100% - var(--startPadding));
    height: calc(100% - var(--startPadding));
    padding-top: var(--startPadding);
    padding-left: var(--startPadding);

    display: flex;
    flex-direction: column;

    button.nav {
        user-select: none;
        border-radius: 100%;
        width: 40px;
        font-size: 25px;
        text-align: center;
        aspect-ratio: 1/1;
        outline: 1px solid gray;
        font-weight: bold;
    }

}