

.AnalyticsMain {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;

    transition: .1s height;
    
    &:has(.FormulaEditor:not(.opened))  {
        .AnalyticsView {
            height: calc(60% - 40px);
        }
    }
}
