.leftSideBar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    
    
    transition: .2s width, .1s box-shadow, .2s margin;

    --leftSideBar__width: 100%;
    --leftSideBar__background-color: none;

    --sectionButtons__flex-direction: row;

    --openingLever__display: none;
    

    width: var(--leftSideBar__width);
    background-color: var(--leftSideBar__background-color);

    
    
    &::before {
        display: none;
    }
    &.withChosenSection {
        --sectionButtons__flex-direction: column;
        --leftSideBar__width: 20%;
        --openingLever__display: block;

        &::before {
            z-index: 100;
            content: "";
            position: absolute;
            display: block;
    
            right: -10px;
            top: 50%;
            transform: translate(0, -50%);
    
            height: 90%;
            border-right: 2px solid gray;
            border-radius: 100%;
        }

        
    }
    &.closed {
        &::before {
            display: none;
        }
        margin-left: calc(-20% + 30px);
        outline: none !important;
    }

    .openingLever {
        display: var(--openingLever__display);
    }

    .sectionButtons {
        display: flex;
        flex-direction: var(--sectionButtons__flex-direction);
        width: fit-content;
        height: fit-content;
        gap: 5px;

    }
    
    
}
