.leftSideBar {
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 10px;

    position: relative;
    user-select: none;

    transition: .1s width, .1s box-shadow, .2s margin, .1s visibility;
    
    --leftSideBar__width: 100%;
    --leftSideBar__background-color: none;
    --openingLever__display: none;
    
    width: var(--leftSideBar__width);
    background-color: var(--leftSideBar__background-color);

    .appButtons {
        margin: auto 0 20px 0;
        padding: 5px 0;


        display: flex;
        flex-direction: row;

        width: 100%;
        overflow: hidden;
        height: fit-content;

        align-items: center;
        justify-content: center;
        

        .settingsButton {
            line-height: 40px;
            margin-left: 10px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }

        .logoutButton {
            display: flex;
            flex-direction: row;

            span {
                white-space: nowrap;
                line-height: 40px;
                margin: 0 5px 0 10px;
            }    
        }

        button {
            padding: 5px 10px;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &::before {
        display: none;
    }

    &.withChosenSection {
        justify-content: flex-start;

        .sectionButtons {
            width: 85%;

            .sectionButton {
                width: 100%;
            }
        }

        
        --leftSideBar__width: 20%;
        --openingLever__display: block;
        visibility: visible;

        &::before {
            z-index: 100;
            content: "";
            position: absolute;
            display: block;
    
            right: -10px;
            top: 50%;
            transform: translate(0, -50%);
    
            height: 95%;
            border-right: 2px solid gray;
            border-radius: 100%;
        }

        
    }
    &.closed {
        visibility: hidden;
        &::before {
            display: none;
        }
        margin-left: calc(-20% + 30px);
        outline: none !important;
    }

    .openingLever {
        display: var(--openingLever__display);
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%);

        right: -5px;
    }

    .sectionButtons {
        margin-top: 20px;
        margin-left: 5px;

        padding: 20px 5px;
        
        overflow: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        height: fit-content;
        width: 100%;
        
        gap: 5px;
        direction: rtl;


        .sectionButton {
            
            overflow: hidden;
            text-overflow: ellipsis;
            direction: ltr;
            width: 50%;
            margin: 0 auto;
            

            white-space: nowrap;
            min-height: 40px;

        }

    }
    
    
}
