.AuthForm {
    
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
    padding: 10px 30px;
    background-color: none;

    .title {
        font-size: 2em;
    }

    &, .inputs {
        flex-direction: column;
        
    }
    gap: 10px;
    .inputs {
        gap: 40px;
    }
    
    &, .inputs, .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .buttons{
        flex-direction: column;
        

        button {
            background: none !important;
        }
    }
    .error-message{
        height: 10px;
        font-size: 15px;
        line-height: 10px;

        white-space: nowrap;
        
        width: fit-content;
        color: red;
        cursor: pointer;
        
    }

}