.AuthForm {
    
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
    padding: 10px 30px;
    background-color: none;
    
    &, .inputs {
        flex-direction: column;
        
    }
    gap: 10px;
    .inputs {
        gap: 40px;
    }
    
    &, .inputs, .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .buttons{
        flex-direction: column;

        button {
            background: none !important;
        }
    }
    .error-message{
        height: 40px;
        white-space: nowrap;
        line-height: 40px;
        width: fit-content;
    }

}