.wrap-form{
    position: relative;
    width: 400px;
    height: 330px;
    background-color: black;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{
        margin: -2em;
        p{
            color: white;
            font-weight: 900;
            font-size: 40px;
            
        }
    }
    .inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        
        align-items: center;
        input{
            margin: 1em 0;
            width: calc(100% - 20%);
            height: 30px;
            border-radius: 30px;
            outline:none;
            padding-left: 20px;
            font-size: 24px;
        }
    }
}

.btn-cover{
    margin: 1em 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
