
.rightSideBar {
    height: 100%;
    width: 20%;
    padding-right: 10px;
    margin-left: auto;
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;
    transition: .1s margin, .1s visibility;

    &::before {
        content: "";
        position: absolute;
        display: block;

        left: -10px;
        top: 50%;
        transform: translate(0, -50%);

        height: 90%;
        border-left: 2px solid gray;
        border-radius: 100%;
    }

    visibility: visible;

    &.closed {
        visibility: hidden;
        &::before {
            display: none;
        }
        border-left: none;
        margin-right: calc(-20% + 30px);
        
        outline: none;
    }

    .openingLever {
        top: 50%;
        transform: translate(0, -50%);
        left: 5px;
        visibility: visible;
    }
}
