
.full-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.defaultFormInputElements {
    
    label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        user-select: none;

        span {
            min-height: 30px;
            line-height: 30px;
            margin-right: 10px;
        }
    }
    select, input[type="checkbox"], label {
        cursor: pointer;
    }
    input:not(input[type="checkbox"]), select {
        min-width: 200px;
        min-height: 30px;
        border-radius: 5px;
        outline: 1px solid gray;
        border: none;
        padding: 0 5px;
        
    }
}

@property --scrollBarBackground {
    syntax: "<color>";
    inherits: true;
    initial-value: #88888800;
}

.default-scroll-bar {
    --width: 20px;
    transition: --scrollBarBackground .5s;
    
    &.thin {
        --width: 5px;
    }
    
    &.row::-webkit-scrollbar {
        
        overflow-x: scroll;
        height: var(--width);
    }
    &.column::-webkit-scrollbar {
        background: rgba(0,0,0,0);
        overflow-y: scroll;
        width: var(--width);
    }
    
    &:hover {
        --scrollBarBackground: #888888;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--scrollBarBackground);
        border-radius: 4px;
        
        &:hover {
            --scrollBarBackground: #6b6b6b;
        }
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

}