.Button {
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: none;
    transition: .1s background-color, .2s box-shadow;
    color: rgb(31, 31, 31);

    --box-shadow: none;
    box-shadow: var(--box-shadow);
    
    &:hover {
        background-color: rgb(230, 230, 230);
        color: black;
    }

    &:focus {
        --box-shadow: inset 0 0 4px black;
    }
    
    &.current,
    &:active {
        color: black;
        background-color: rgb(201, 201, 201);
    }
    &.current {
        --box-shadow: inset 0 0 2px black;
    }
}
